# Ignore Terraform state files
**/*.tfstate
**/*.tfstate.*

# Ignore Terraform config and lock files
**/.terraform/*
**/.terraform.lock.hcl

# Ignore environment files
terraform/.env
**/.env
**/.terraform/.env
